.headline-header {
    margin: 38px;
    text-align: center;
    font-size: 54px;
    font-family: 'Futura md BT';
}
span.header-revcolor {
    color: #f4ae00;
}
.article-para {
    text-align: justify;
    text-indent: 50px;
    margin: 20px;
    font-size: 18px;
    font-family: 'Futura bk BT';
}
h2 {
    font-family: 'Futura bk BT';
    margin-bottom: 10px;
}
p {
    font-family: 'Futura bk BT';
}
.contentstyle h1 {
    margin-top: 20px;
    width: 100%;
    border-bottom: 2px solid #c5a120;
}
.thumbnail {
    vertical-align: middle;
    transition: width 1s;
}
.contentstyle p {
    margin-top: 10px;
}
.grid-right-sidebar h2 {
    font-family: 'Futura md BT';
    font-size: 28px;
    color: white;
    padding: 20px;
    height: 30px;
    width: calc(100% - 40px);
    background-color: rgba(0, 0, 0, 0.4);
}

.daftar-artikel {
    height: auto;
    margin: 10px 2% 10px 2%;
    padding: 0 0 20px;
    color: black;
    border-bottom: 2px solid black;
    text-decoration: none;
}
.daftar-artikel-header {
    margin: 20px;
    font-family: 'Futura md BT';
    font-size: 20px;
}
.daftar-artikel-content {
    margin: 20px;
    font-family: 'Futura bk BT';
    font-size: 14px;
}