@media screen and (min-width: 1200px) {
    .grid-article-container {
        grid-template-rows: 40px auto 80px 1fr;
        grid-template-columns: 1fr 420px;
    }
    .grid-article-header {
        grid-column: 1;
        grid-row: 2;
    }
    .grid-article-status {
        grid-column: 1;
        grid-row: 3;
    }
    .grid-article-para {
        grid-column: 1;
        grid-row: 4;
    }
    .grid-article-image {
        grid-column: 2;
        grid-row: 4;
    }
}
@media screen and (max-width: 1599px) and (min-width: 1200px) {
    .grid-article-container {
        margin-top: 42px;
        margin-left: 280px;
    }
}
@media screen and (min-width: 1600px) {
    .grid-article-container {
        margin-top: 50px;
        margin-left: 380px;
    }
}
.grid-article-container {
    display: grid;
    z-index: 5;
    transition: 0.5s;
}
.grid-article-header {
    background-color: #999;
}
.grid-article-status {
    margin: 20px;
    background-color: #ccc;
}
.grid-article-para {
    background-color: #444;
}
.grid-article-image {
    margin: 20px;
    margin-right: 100px;
    background-color: #111;
}