.dosen-info {
    margin : 10px;
}
.dosen-info h1 {
    font-family: 'Futura md BT';
}
.dosen-info p {
    font-family: 'Futura bk BT';
}
.dosen-info div {
    margin-top: -4px;
    border-top: 4px solid black;
}
.photo-border {
    margin: 15px;
    width: 270px;
    height: 340px;
    background-color: #fff;
	overflow: hidden;
}
.dosen-stats {
    margin: 20px 10px;
}
.dosen-stats p {
    font-size: 18px;
    font-family: 'Futura bk BT';
}
.grid-dosen-data table {
    width: 100%;
    font-family: 'Futura bk BT';
    border-collapse: collapse;
}
.data-column-button {
    border: 1px solid black;
    width: 25%;
}
.data-column-button button {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    background-color: #bbb;
    cursor: pointer;
}
.data-column-fill {
    width: calc(100% - 80px);
    padding: 20px 40px;
    border: 2px solid #555;
    background-color: #bbb;
}
.konten-data {
    display: block;
}
#pengajaran-d {
    display: block;
}
#penelitian-d {
    display: none;
}
#pengabdian-d {
    display: none;
}
#penunjang-d {
    display: none;
}
.dosen-list-header {
    background-color: #aaa;
    font-family: 'Futura md BT';
    font-size: 25px;
    padding: 10px 20px;
    color: white;
}
a .dosen-list-content {
    display: block;
    padding: 4px 10px;
    margin: 0 10px;
    border-bottom: 2px solid #eee;
    font-family: 'Futura bk BT';
    background-color: #ccc;
    color: black;
}
.grid-dosen-list a {
    text-decoration: none;
}
.grid-dosen-list a:first-child .dosen-list-content {
    border-bottom: none;
}
.dosen-block-list-container {
    display: flex;
    flex-wrap: wrap;
}
.dosen-block-list-container > a {
    margin: 20px auto;
    text-decoration: none;
}
.dosen-block-list-container > a > div {
    background-color: #f1f1f1;
    width: 200px;
    height: 200px;
    margin: 10px;
    text-align: center;
    font-size: 30px;
    line-height: 15px;
    overflow: hidden;
}
.image-dosen {
    height: 200px;
    width: 200px;
    position: absolute;
    overflow: hidden;
    background-color:#ccc;
    z-index: 1;
}
.dosen-block-list-container > a > div > .name {
    position: relative;
    padding-top: 14px;
    width: 100%;
    height: 60px;
    font-size: 14px;
    color: white;
    font-family: 'Futura bk BT';
    transform: translateY(160px);
    background-color: rgba(121, 121, 121, 0.7);
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(121, 121, 121, 0.7) 20%);
    transition: 0.4s ease-in-out;
    z-index: 3;
}
.dosen-block-list-container > a:hover > div > .name {
    background-color: rgba(0, 0, 0, 0.7);
    /* background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.6) 20%); */
}