@media screen and (min-width: 1200px) {
    .grid-container {
        grid-template-rows: 40px 120px auto 1fr;
        grid-template-columns: 1fr 1fr;
    }
    .grid-headline-header {
        grid-column: 1 / span 2;
        grid-row: 2;
    }
    .grid-headline-para {
        grid-column: 1;
        grid-row: 3;
    }
    .grid-headline-thumbnail {
        grid-column: 2;
        grid-row: 3;
    }
    /* .grid-headline-thumbnail-det {
        grid-column: 3;
        grid-row: 4;
    } */
    .grid-content {
        grid-column: 1 / span 2;
        grid-row: 4;
    }
    /* .grid-right-sidebar {
        grid-column: 3;
        grid-row: 5;
    } */
}
@media screen and (max-width: 1199px) and (min-width: 700px) {
    .grid-container {
        grid-template-rows: 40px 120px 400px 1fr;
        grid-template-columns: 1fr 300px;
    }
    .grid-headline-header {
        grid-column: 1 / span 2;
        grid-row: 2;
    }
    .grid-headline-para {
        grid-column: 1;
        grid-row: 4;
    }
    .grid-headline-thumbnail {
        grid-column: 1 / span 2;
        grid-row: 3;
    }
    .grid-headline-thumbnail-det {
        grid-column: 2;
        grid-row: 4;
    }
    .grid-content {
        grid-column: 1;
        grid-row: 5;
    }
    .grid-right-sidebar {
        grid-column: 2;
        grid-row: 5;
    }
}
@media screen and (max-width: 1599px) and (min-width: 1200px) {
    .grid-container {
        margin-top: 42px;
        margin-left: 280px;
    }
    .grid-headline-thumbnail {
        max-width: 600px;
    }
}
@media screen and (min-width: 1600px) {
    .grid-container {
        margin-top: 50px;
        margin-left: 380px;
    }
    .grid-headline-thumbnail {
        max-width: 800px;
    }
}
.grid-container {
    display: grid;
    z-index: 5;
    transition: 0.5s;
}
.grid-headline-thumbnail {
    float: top;
    overflow: hidden;
    margin: 1em 40px 0 0;
    transition: 0.5s;
}
.grid-content {
    top: -100px;
    position: relative;
    font-family: 'Futura bk BT';
}
.grid-right-sidebar {
    position: relative;
    background-color: #ccc;
}