@media screen and (min-width: 1200px) {
    .grid-container {
        grid-template-rows: 40px 120px auto 180px 1fr;
        grid-template-columns: 1fr auto 350px;
    }
    .grid-headline-header {
        grid-column: 1 / span 3;
        grid-row: 2;
    }
    .grid-headline-para {
        grid-column: 1;
        grid-row: 3;
    }
    .grid-headline-thumbnail {
        grid-column: 2 / span 2;
        grid-row: 3;
    }
    .grid-headline-thumbnail-det {
        grid-column: 3;
        grid-row: 4;
    }
    .grid-content {
        grid-column: 1 / span 2;
        grid-row: 4 / span 2;
    }
    .grid-right-sidebar {
        grid-column: 3;
        grid-row: 5;
    }
}
@media screen and (max-width: 1199px) and (min-width: 700px) {
    .grid-container {
        grid-template-rows: 40px 120px auto 180px 1fr;
        grid-template-columns: 1fr 300px;
    }
    .grid-headline-header {
        grid-column: 1 / span 2;
        grid-row: 2;
    }
    .grid-headline-para {
        grid-column: 1;
        grid-row: 4;
    }
    .grid-headline-thumbnail {
        grid-column: 1 / span 2;
        grid-row: 3;
    }
    .grid-headline-thumbnail-det {
        grid-column: 2;
        grid-row: 4;
    }
    .grid-content {
        grid-column: 1;
        grid-row: 5;
    }
    .grid-right-sidebar {
        grid-column: 2;
        grid-row: 5;
    }
}
@media screen and (max-width: 1599px) and (min-width: 1200px) {
    .grid-container {
        margin-top: 42px;
        margin-left: 280px;
    }
    .grid-headline-thumbnail {
        max-width: 600px;
    }
}
@media screen and (min-width: 1600px) {
    .grid-container {
        margin-top: 50px;
        margin-left: 380px;
    }
    .grid-headline-thumbnail {
        max-width: 800px;
    }
}
.grid-container {
    margin-right: 4%;
    display: grid;
    z-index: 5;
    transition: 0.5s;
}
.grid-headline-thumbnail {
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    margin: 1em 0 0 0;
    transition: 0.5s;
}
.grid-content {
    position: relative;
    font-family: 'Futura bk BT';
}
.grid-headline-thumbnail-det {
    background-color: #aaa;
    margin-bottom: 30px;
}
.grid-right-sidebar {
    position: relative;
    background-color: #ccc;
}