@media screen and (min-width: 1201px) {
    ul.navbar {
        position : fixed;
        top : 0;
        width : 100%;
        height: auto;
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #555;
        background: linear-gradient(#1c1c1c, #333, #1c1c1c);
        z-index: 9;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    }
    li.navbar, .dropdown {
        width: 16%;
    }
    li.navbar {
        float: left;
    }
    .dropdown#right-navbar {
        float: right;
    }
    li.navbar a, .dropdown a {
        width: 100%;
        display: inline-block;
        color: white;
        text-align: center;
        padding: 7px 0;
        font-size: 18px;
        font-family: 'Futura Md BT';
        text-decoration: none;
        margin-bottom: 4px;
    }
    .dropdown {
        display: inline-block;
        position: relative;
    }
    .dropdown a.dropbtn:after {
        content: ' \25bc';
        transition: all 0.3s;
    }
    .dropdown:hover a.dropbtn:after {
        opacity: 0;
        margin-right: -9%;
    }
    .dropdown-content {
        width: 100%;
        display: none;
        position: absolute;
        min-width: 15%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        background: linear-gradient(#333, #888, #333);
    }
    .dropdown-content a {
        width: 90%;
        color: white;
        padding: 12px 0 12px 0;
        text-decoration: none;
        display: block;
        text-align: center;
        font-size: 13px;
        margin: 0 5%;
        font-family: 'Futura Md BT';
        border-bottom: 0.5px solid #aaa;
        border-top: none;
    }
    .dropdown-content a:last-child {
        border-bottom: none;
    }
    .dropdown-content a:hover {
        padding: 9px 0 9.5px 0;
        border-top: 3px solid #aaa;
        border-bottom: 3px solid #aaa;
        background: linear-gradient(to right, rgba(136, 136, 136, 0.00), #888, rgba(136, 136, 136, 0.00));
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
    ul.lower-navbar {
        position : fixed;
        top: 44px;
        width: 50%;
        list-style-type: none;
        margin: 0 25%;
        padding: 0;
        text-align: center;
        overflow: hidden;
        background-image: url("icon/navbar.png");
        background-color: #ffd800;
        background: linear-gradient(#a1831a, #c5a120, #a1831a);
        z-index: 8;
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
    }
    li.lower-navbar {
        width: 24%;
        border-right: 0.5px solid #a1831a;
    }
    li.lower-navbar#left-navbar {
        float: left;
    }
    li.lower-navbar#right-navbar {
        float: right;
    }
    li.lower-navbar a {
        margin: 0;
        width: 100%;
        display: inline-block;
        color: white;
        text-align: center;
        font-size: 18px;
        padding: 7px 0;
        font-family: 'Futura Md BT';
        text-decoration: none;
    }
    ul.lower-mnavbar {
        position : fixed;
        top : 0;
        max-width : 8%;
        list-style-type: none;
        margin: 0 46%;
        padding: 0;
        z-index: 10;
    }
    li.lower-mnavbar {
        padding: 1px;
        float: middle;
        position: relative;
        transition: 1s;
    }
    div.box-hover-style {
        display: block; 
        top: 0;
        margin-left: 49.9%;
        height: 4px;
        width: 0.1%;
        background-color: rgba(200, 183, 118, 0.00);
        transition: all 0.4s;
    }
    li.lower-navbar:hover div.box-hover-style {
        margin-left: 0%;
        width: 100%;
        background-color: #e4b730;
    }
    li.navbar:hover div.box-hover-style, .dropdown:hover div.box-hover-style {
        margin-left: 0%;
        width: 100%;
        background-color: #ccc;
    }
}
@media screen and (max-width: 1200px) {
    div.navbar {
        position : fixed;
        top : 0;
        left: 0;
        width : auto;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #555;
        background: linear-gradient(#1c1c1c, #333, #1c1c1c);
        z-index: 9;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
        overflow: auto;
    }
    li.navbar, .dropdown, li.lower-navbar {
        list-style-type: none;
        width: 100%;
        float: top;
    }
    li.navbar a, .dropdown a, li.lower-navbar a {
        display: block;
        color: white;
        text-align: left;
        padding: 30px 250px 30px 50px;
        font-size: calc(20px + 1.5vh);
        font-family: 'Futura Md BT';
        text-decoration: none;
        margin-bottom: 4px;
    }
    .dropdown {
        display: block;
        position: relative;
    }
    .dropdown-content {
        width: 100%;
        display: none;
        min-width: 15%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        background: linear-gradient(#333, #888, #333);
    }
    .dropdown-content a {
        width: 90%;
        color: white;
        padding: 12px 0 12px 0;
        text-decoration: none;
        display: block;
        text-align: center;
        font-size: 3vh;
        margin: 0 5%;
        padding: 30px 0;
        font-family: 'Futura Md BT';
        border-bottom: 0.5px solid #aaa;
        border-top: none;
    }
    .dropdown-content a:last-child {
        border-bottom: none;
    }
    .dropdown-content a:hover {
        padding: 9px 0 9.5px 0;
        border-top: 3px solid #aaa;
        border-bottom: 3px solid #aaa;
        background: linear-gradient(to right, rgba(136, 136, 136, 0.00), #888, rgba(136, 136, 136, 0.00));
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
    ul.lower-mnavbar {
        position : fixed;
        top : 0;
        max-width : 8%;
        list-style-type: none;
        margin: 0 46%;
        padding: 0;
        z-index: 10;
    }
    li.lower-mnavbar {
        padding: 1px;
        float: middle;
        position: relative;
    }
    div.box-hover-style {
        display: block; 
        top: 0;
        margin-left: 49.9%;
        height: 4px;
        width: 0.1%;
        background-color: rgba(200, 183, 118, 0.00);
        transition: all 0.4s;
    }
    li.lower-navbar:hover div.box-hover-style, li.navbar:hover div.box-hover-style, .dropdown:hover div.box-hover-style {
        margin-left: 0%;
        width: 100%;
        background-color: #ccc;
    }
}

/* @media screen and (min-width: 1600px) {
    ul.lower-navbar {
        top: 50px;
        width: 50%;
        margin: 0 25%;
    }
    li.lnavbar a, li.rnavbar a, .dropdown a, li.lower-lnavbar a, li.lower-rnavbar a {
        font-size: 22px;
    }
    .dropdown-content a {
        font-size: 16px;
    }
} */